[submodule "tools/WoW-Spell-Editor"]
	path = tools/WoW-Spell-Editor
	url = https://github.com/stoneharry/WoW-Spell-Editor.git
[submodule "apps/patchgenerator/wow_dbc"]
	path = apps/patchgenerator/wow_dbc
	url = https://github.com/Turor/wow_dbc.git
[submodule "apps/aio"]
	path = apps/aio
	url = https://github.com/Rochet2/AIO.git
[submodule "apps/transmog"]
	path = apps/transmog
	url = https://github.com/DanieltheDeveloper/azerothcore-transmog-3.3.5a.git
